.card-deck {
    margin: 3% 0;
}

.img-thumbnail img {
    width: 100%;
}

.img-thumbnail{
    padding: 0;
    margin-top: 3%;
}

.img-thumbnail .caption-full{
    padding: 9px;
}

.img-thumbnail{
    margin-top: 0;
}

.card-body{
    margin: 0 auto;
}

.delete-form{
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}